{% extends 'base.html.twig' %}

{% block title %}Mon panier - Shop Grocery{% endblock %}

{% block content %}
 <h1>Mon panier</h1>
 {# retrouvez  l'ensemble des produits que vous avez ajouté à votre panier #}
 <div class="alert alert-info d-flex justify-content-center ">
 <p>Retrouvez l'ensemble des produits que vous avez ajouté à votre panier</p>
 </div>
 <hr>
 {# mon PANIER #}

 <table class="table table-primary">
  <thead>
    <tr>

      <th scope="col">Produit</th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix en €</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
   
   {% for product in cart  %}

   <tr>
      <th>
      <img src="{{siteurl}}/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" class="img-fluid rounded-circle border border-dark border-2 mr-2" width ="50px" heght="50px">
      {{product.product.name}}
      </th>
      <td> x {{product.quantity}}</td>
      <td>{{(product.product.price /100)| number_format(2 , ',' , '.')}} €</td>
      <td>{{((product.product.price /100) * product.quantity)| number_format(2 , ',' , '.')}} €</td>
    </tr>


   {% endfor %}
    

  </tbody>
</table>
{% endblock %}
