{% extends 'base.html.twig' %}

{% block title %}Mon Compte Shop-Grocery{% endblock %}
{% block stylesheets %}
         <link rel="stylesheet" href="{{asset('asset/css/compte.css')}}">
{% endblock %}
{% block content %}
<h1>Mon Compte : </h1>

<h3 class="text-success">
Bienvenue <span class ="text-uppercase ">
{{app.user.firstname}}
</span> dans votre compte
</h3>
<p>
C'est dans cette espace que vous pouvoir  gérer toutes vos données personnelle 
</p>

 - <a href="{{path('account_password')}}">modifier son mot de passe</a><br>
 - <a href="{{path('account_address')}}">Gérer ses adresses</a><br>
 - <a href="{{path('account_order')}}">Mes commandes</a>
{% endblock %}
