{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - ShopGrocery{% endblock %}

{% block content %}
<h2 class="text-info">Je passe ma commande</h2>
<p>Choisissez vos préfèrences avant de passer votre commande sur Shop Grocery.</p>
<hr>

<div class="row">
<div class="col-md-6"> 

{% set formHtml %}

  {{form_start(form ,{action:path('order_recap')}) }}
  {{form_end(form)}}
    
{% endset %}

{{formHtml|replace({'[br]' : '</br>'})|raw}}

 <br>

  




</div>
<div class="col-md-6">
<b>Récapitulatif de ma commande</b><br>
{% for product in cart %}
		
  <div class="mb-2">
  
  <img src="{{siteurl}}/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" class="img-fluid rounded-circle border border-dark border-2 mr-2" width="25px" heght="25px">
  <span class="mr-1">
  {{product.product.name}}
  </span>
  
               x {{product.quantity}} <br>

  </div>

{% endfor %}

</div>
</div>
{% endblock %}
                                                                                            